nav{
	float: right;
	text-decoration: underline;
	display: inline-block;
}

ul>li{
    display: inline;
    list-style-type: none;
}
li>a{
	color: blue;
	padding: 0px;
}
h1{
    text-align: center;
    display: inline-block;
    color: blue;
    width: 100%;
    font-family: 'Alegreya';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}
h2{
	text-align: center;
	color: blue;
	text-decoration: underline;
	font-family: 'Alegreya';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
h3{
	text-align: center;
	color: blue;
	text-decoration: underline;
	font-family: 'Alegreya';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
body{
	background-color: #00ffff;
	font-style: sans-serif;
	font:400px 14/1.2;
	font: 600 13px/1.1 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.1);


}
img{
	 display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width:20%;
}
div{
	width: 50em;
	margin-left: auto;
    margin-right: auto;
	}
.bright{
	color: red;
}
a{
	color: white;
	padding: 6px 4px;
    text-align: center; 
	text-decoration: none;
	border-radius: 3px;
}
p>a:nth-child(odd){
      background-color: #3FA09D;
      }
p>a:nth-child(even){
      background-color: #F26522;
}
iframe{
	text-align: center;
	height: 400px;
	width: 600px;
}
.centermain{
	font: 600 13px/1.1 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 4px rgba(1,0,0,0.1);

}
.interesting ol{
	color: blue;
	font: 200 20px/1.0'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 1px rgba(0,0,0,0.1);
    padding-left: 40px;
 }  