nav{
	float: right;
}
ol{list-style-type: 1;}
li{
    display: inline;
}
h1{
    text-align: center;
    display: inline-block;
    color: navy;
    width: 100%;
}
h2,h3{
	text-align: center;
	color: navy;
	text-decoration: underline;
}
body{
	background-color: skyblue;
	font-style: sans-serif;
}
img{
	 display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width:20%;
}
div{
	width: 40em;
	margin-left: auto;
    margin-right: auto;
	}
.bright{
	color: red;
}
a{
	color: white;
	padding: 8px 6px;
    text-align: center; 
	text-decoration: none;
	border-radius: 4px;
}
a:nth-child(odd){
      background-color: #3FA09D;
      }
a:nth-child(even){
      background-color: #F26522;
}
div>ol{
	color: navy;
	font: 400 20px/1.2 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 

}

iframe{
	text-align: center;
	height: 400px;
	width: 600px;
}
.centermain{}

